<DOCTYPE html>
<html>
<head><title> Book search </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

</head>
<body>
  <form action="{{ url_for('bookSearch') }}" method="post">
    <div class="form-group">
    <label for="isbn">isbn:</label>
    <input class="form-control" name="isbn"><br>
    <br>
    <label for="author">author:</label>
    <input class="form-control" name="author"><br><br>
    <label for="title">title:</label>
    <input class="form-control"  name="title"><br>
    <br>
  </div>
    <button  class="btn btn-primary"> search </button>
  </form>
  <div class="form-group">
    <ul>
      {% for book in books %}

          <li >
            <a href="{{ url_for('books', book_id=book.id) }}">
              {{ book.title }} by {{ book.author }}
            </a>
          </li>
      {% endfor %}
    </ul>
  </div>
  </body>
  </html>
